.env.secrets
.zcompdump*
.bash*
.docker
.kube
.aws
.azure
.cache
.local

go
.config/neofetch
.config/nvim
.landscape

.antigen
.vscode-server
.sudo_as_admin_successful
.viminfo
.zsh_history
.zshrc.zwc
