.env.secrets
.zcompdump*
.bash*
.docker
.kube
.aws
.azure
.cache
.local

go
.config/neofetch
.config/nvim
.landscape

.antigen
.vscode-server
.sudo_as_admin_successful
.viminfo
.zsh_history
.zshrc.zwc
.lesshst
.byobu/
.npm/
.config/htop/htoprc
.config/lazygit/
.krew/
.config/k9s/config.yml
.config/helm/repositories.lock
.config/helm/repositories.yaml
.config/spotify-tui/.spotify_token_cache.json
.config/spotify-tui/client.yml
.config/wslu/
Code/
